/* ========================================
   GLOBAL RESET
======================================== */

* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}


/* ========================================
   HTML
======================================== */

html {
  scroll-behavior: smooth;
}


/* ========================================
   BODY
======================================== */

html,
body,
#root {
  width: 100%;

  min-height: 100%;
}


body {
  margin: 0;

  background-color: #000000;

  color: #ffffff;

  font-family:
    Arial,
    Helvetica,
    sans-serif;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
}


/* ========================================
   BUTTONS / INPUTS
======================================== */

button,
input,
select {
  font-family: inherit;
}


/* ========================================
   LINKS
======================================== */

a {
  color: inherit;
}


/* ========================================
   SELECTION
======================================== */

::selection {
  background-color: #e50914;

  color: #ffffff;
}